.breadcrumb{
  padding: 0px 0px;
  list-style: none;
  color: grey;
}
    
.breadcrumbItem{
  display: inline;
  font-size: 14px;
}

.breadcrumb li+li:before{
  padding: 10px;
  color: grey;
  content: ">";
}
.marginDiv{
  margin-top: 40px;
}
